<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>550477963791-jcmls0ej3cpn0q3a2dqrifglh0lf9cn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550477963791-jcmls0ej3cpn0q3a2dqrifglh0lf9cn5</string>
	<key>API_KEY</key>
	<string>AIzaSyB7JqbhaxsS_boA4TpPGmVthsuwm4TBNx4</string>
	<key>GCM_SENDER_ID</key>
	<string>550477963791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.DotCode</string>
	<key>PROJECT_ID</key>
	<string>dotcode-f2137</string>
	<key>STORAGE_BUCKET</key>
	<string>dotcode-f2137.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:550477963791:ios:6ae708d29c3bcc16</string>
	<key>DATABASE_URL</key>
	<string>https://dotcode-f2137.firebaseio.com</string>
</dict>
</plist>