<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>559855572054-a1blcthueujnlthn7ga9csii44qpcccd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559855572054-a1blcthueujnlthn7ga9csii44qpcccd</string>
	<key>API_KEY</key>
	<string>AIzaSyD6K6XR1Ly8x55uUTgQLtvYVT_vX2F8GOw</string>
	<key>GCM_SENDER_ID</key>
	<string>559855572054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metzger.ObjectiveCApp</string>
	<key>PROJECT_ID</key>
	<string>objective-c-7392d</string>
	<key>STORAGE_BUCKET</key>
	<string>objective-c-7392d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:559855572054:ios:d5ad934942a22478</string>
	<key>DATABASE_URL</key>
	<string>https://objective-c-7392d.firebaseio.com</string>
</dict>
</plist>